@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --font: 1em; 
}

.texto {
    margin-top: 20px;
    margin: auto;

    padding: 10px;

    background-color: white;
    font-size: var(--font);
}